useDynLib(tilingArray)

export("findSegments", "sampleStep", "scoreSegments", "costMatrix", 
       "isWithinInterval", "posMin", "otherStrand",
       "qualityReport", "plotAlongChrom", 
       "plot.segmentation", "confint.segmentation", "computeConfInt")

S3method(plot, segmentation)
S3method(confint, segmentation)
