useDynLib(tilingArray)

export("findSegments", "sampleStep", "scoreSegments", "costMatrix", 
       "isWithinInterval", "posMin", "getAttributeField", "otherStrand", 
       "qualityReport", "plotAlongChrom", "plotAlongChrom2")

