useDynLib(tilingArray)

export("segment",
       "findSegments", ## this is for backward compatibility, should be deprecated
       "sampleStep", "scoreSegments", "costMatrix", 
       "isWithinInterval", "posMin", "otherStrand",
       "qualityReport", "plotAlongChrom")

exportClasses("segmentation")
exportMethods("plot", "show", "confint")

